[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
django-allauth = "*"
pillow = "*"
django-colorfield = "*"
django-ckeditor = "*"

[requires]
python_version = "3.8"
