body {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #132743;
}

.aktuality-date {
  font-size: small;
  color: #61b15a;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.nav-link h4:hover {
  color: #0e918c !important;
}

.novinka-bg, .oznam-bg, #myNavbar  {
  background-image: linear-gradient(#61b15a, #b8de6f);
  
}

.oznamy {
  padding: 3% 0; 
}

.uradna-odpad {
  background-image: linear-gradient(#61b15a, #b8de6f);
  padding-top: 5%;
}


