{% extends '_base.html' %}
{% load static %}

{% block title %}Michaľany{% endblock title %}

{% block content %}
<!-- Carousel s novinkami -->
<div class="container-fluid bg-light">
  <div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for novinka in novinky %}
        {% if forloop.first %}
        <li data-target="#carouselExampleCaptions" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
        {% else %}
        <li data-target="#carouselExampleCaptions" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endif %}
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for novinka in novinky %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
          <img src="{{ novinka.image.url }}" class="d-block w-100" alt="{{ novinka.title }}"
            style="height: 400px; width: 1200px; opacity: 0.7;">
          {% if novinka.title and novinka.text %}
          <div class="carousel-caption d-none d-md-block bg-white text-dark novinka-bg">
            <h5>{{ novinka.title }}</h5>
            <p>{{ novinka.text }}</p>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<!-- OZNAM! -->
<div class="container-fluid bg-light">
  <div class="container oznamy">
    <h1 class="text-center">Oznamy</h1>
    <div class="row pt-5">
      {% for oznam in oznamy %}
      <div class="col-sm">
        <div class="card mt-2 oznam-body">
          <div class="card-body border border-success rounded-lg bg-light shadow-sm oznam-bg">
            <p class="card-text text-left h5 font-weight-bold"> {{ oznam.body|safe }} </p>
            <p class="text-dark-50 text-left mt-2">{{ oznam.date }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Uradna tabula/odapd! -->
<div class="container-fluid uradna-odpad">
  <div class="container pb-5">
    <div class="row">


      <!-- Uradna tabula -->
      <div class="col-md uradna-tabula">
        <h2 class="pb-4 text-center">Úradná tabuľa</h2>
        {% for post in posts %}

        <div class="accordion" id="accordionExample">

          <div class="card mt-3">
            <div class="card-header bg-success" id="heading{{ forloop.counter }}">
              <h2 class="mb-0">
                <button class="btn btn-outline-success btn-block text-left text-white" type="button"
                  data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true"
                  aria-controls="collapse{{ forloop.counter }}">
                  {{ post.date }}
                </button>
              </h2>
            </div>
            <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}"
              data-parent="#accordionExample">
              <div class="card-body">
                <a class="btn text-left btn-outline-dark" href="{{post.file.url}}" target="_blank">{{ post.title }}</a>
              </div>
              {% if post.file1 %}
              <div class="card-body">
                <a class="btn text-left btn-outline-dark" href="{{post.file1.url}}"
                  target="_blank">{{ post.title1 }}</a>
              </div>
              {% endif %}
              {% if post.file2 %}
              <div class="card-body">
                <a class="btn text-left btn-outline-dark" href="{{post.file2.url}}"
                  target="_blank">{{ post.title2 }}</a>
              </div>
              {% endif %}
              {% if post.file3 %}
              <div class="card-body">
                <a class="btn text-left btn-outline-dark" href="{{post.file3.url}}"
                  target="_blank">{{ post.title3 }}</a>
              </div>
              {% endif %}
              {% if post.file4 %}
              <div class="card-body">
                <a class="btn text-left btn-outline-dark" href="{{post.file4.url}}"
                  target="_blank">{{ post.title4 }}</a>
              </div>
              {% endif %}
              {% if post.file5 %}
              <div class="card-body">
                <a class="btn text-left btn-outline-dark" href="{{post.file5.url}}"
                  target="_blank">{{ post.title5 }}</a>
              </div>
              {% endif %}
            </div>
          </div>

        </div>
        {% endfor %}
        <a class="btn btn-success mt-4 mb-4 text-white" href="">Zobraziť viac</a>
      </div>

      <!-- Uradna tabula koniec -->

      <!-- Odpady -->
      <div class="col-md">
        <h2 class="text-center mb-5">Zber komunálneho odpadu</h2>
        <div class="container">
          {% for odpad in odpady %}
          <div class="row row-striped">
            <div class="col-2 text-right">
              <h1 class="display-4"><span class="badge badge-success">{{ odpad.day }}</span></h1>
              <h4>{{ odpad.month }}</h4>
            </div>
            <div class="col-10 pl-5">
              <h4 class="text-uppercase"><strong>{{ odpad.description }}</strong></h4>
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ odpad.week_day }}
                </li>
              </ul>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
      <!-- Odpady koniec -->

    </div>
  </div>
</div>


<!-- Aktuality! -->
<div class="container mt-5 pb-5">
  <h2 class="text-center font-weight-bold mb-5">Aktuality</h2>
  <div class="row">
    {% for aktualita in aktuality %}
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4 aktualita-card">
      <div class="card">
        <img class="card-img-top" src="{{ aktualita.image.url }}" alt="Card image cap">
        <div class="card-body">
          <h5>{{aktualita.title}}</h5>
          <p class="aktuality-date mt-2">{{ aktualita.date }}</p>
          <p class="card-title text-muted mt-3 mb-2">{{ aktualita.body|safe|slice:':280' }}</p>
          <button type="button" class="btn btn-flat text-success p-0 mx-0">Čítaj viac<i
              class="fa fa-angle-right ml-2"></i></button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}