{% extends '_base.html' %}
{% load static %}

{% block title %}Obec: Michaľany{% endblock title %}

{% block content %}
<div class="container-fluid bg-light py-5">
    <div class="container pt-1">
        <h2 class="text-center mb-3 display-3">Obec</h2>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center mt-3">
                <a href="#" class="amenu">
                    <div class="card text-center submenu">
                        <div class="card-body">
                            <h5 class="card-title mt-3">ŠTRUKTÚRA OcÚ</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center mt-3">
                <a href="#" class="amenu">
                    <div class="card text-center submenu">
                        <div class="card-body">
                            <h5 class="card-title mt-3">ÚZEMNÝ PLÁN OBCE</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center mt-3">
                <a href="#" class="amenu">
                    <div class="card text-center submenu">
                        <div class="card-body">
                            <h5 class="card-title mt-3">MATRIKA</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center mt-3">
                <a href="#" class="amenu">
                    <div class="card text-center submenu">
                        <div class="card-body">
                            <h5 class="card-title mt-3">DANE A POPLATKY</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center mt-3">
                <a href="#" class="amenu">
                    <div class="card text-center submenu">
                        <div class="card-body">
                            <h5 class="card-title mt-3">SODB 2021</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center mt-3">
                <a href="#" class="amenu">
                    <div class="card text-center submenu">
                        <div class="card-body">
                            <h5 class="card-title">PROJEKTY PODPOROVANÉ EÚ A Z INÝCH ZDROJOV</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center mt-3">
                <a href="#" class="amenu">
                    <div class="card text-center submenu">
                        <div class="card-body">
                            <h5 class="card-title mt-3">VEREJNÁ VYHLÁŠKA</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center mt-3">
                <a href="#" class="amenu">
                    <div class="card text-center submenu">
                        <div class="card-body">
                            <h5 class="card-title mt-3">EVIDENCIA OBYVATEĽSTVA</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center mt-3">
                <a href="#" class="amenu">
                    <div class="card text-center submenu">
                        <div class="card-body">
                            <h5 class="card-title mt-3">DAROVANIE 2% DANE V NAŠEJ OBCI</h5>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-12 col-md-6 col-sm-6 d-flex justify-content-center mt-3">
                <a href="#" class="amenu">
                    <div class="card text-center submenu">
                        <div class="card-body">
                            <h5 class="card-title mt-3">OCHRANA OSOBNÝCH ÚDAJOV</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
{% endblock content %}