{% extends '_base.html' %}
{% load i18n %}
{% load static %}


{% block title %}Obecné zastupiteľstvo: Michaľany{% endblock title %}

{% block content %}
<div class="container-fluid bg-light py-5">
    <div class="container">
        <div class="d-block d-sm-none d-none d-sm-block d-lg-none">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light justify-content-end">
                    <li class="breadcrumb-item zoom"><a href="{% url 'home' %}">Titulna stránka</a></li>
                    <li class="breadcrumb-item zoom"><a href="{% url 'samosprava' %}">Samospráva</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Obecné zastupiteľstvo</li>
                </ol>
            </nav>
        </div>
        <div class="container-fluid row">
            {% include '_sidebar_samosprava.html' %}
            <div class="col">  
                <h2 class="mb-5 display-4 text-center text-md-left">Zoznam došlých faktúr</h2>             
                <div class="accordion" id="accordionExample">
                  {% for rok in faktury %}
                  <div class="card mt-3">
                      <div class="card-header bg-success" id="headingOne">
                          <h2 class="mb-0">
                              <button class="btn btn-outline-success btn-block text-left text-white" type="button" data-toggle="collapse"
                                  data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                                  {{ rok.rok }}
                              </button>
                          </h2>
                      </div>
                      <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="headingOne"
                          data-parent="#accordionExample">
                          {% for faktura in rok.faktury.all %}
                          <div class="card-body pulse">
                              <a href="{{faktura.faktura.url}}" target="_blank">
                                {{ faktura.title|upper }}</a>
                          </div>
                          {% endfor %}
                      </div>                    
                  </div>
                  {% endfor %}
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
